.jumbotron{
    background-image: url(/img/img-cabecera.jpg);
    background-repeat: no-repeat;
    height: 380px;
}

.jumbotron>p{
    color:white;
    font-size: 5em;
    font-weight: bold;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 25px;
    color:white
}

.card-hotel{
    padding: 2px 7px 2px 7px;
    flex: 1 200px;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-reserva{
    width: 100%;
    /* position: absolute;
    left: 0; */

}

.titulo-principal{
    font-weight: bold;
}


.card:hover{
    box-shadow: aliceblue;
}

.card-hotel>div>h4{
    text-align: center;
}
.card-hotel>div>p{
    text-align: justify;
}